*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
p {
  line-height: 1.5;
}
.section {
  background-color: lemonchiffon;
  
}
.headers {
  color: darkblue;
  margin: 5px;
}
#email {
  background-color: goldenrod;
}
#github {
  background-color: lightsteelblue;
}
#portfolio {
  background-color: darkorange;
}
